services: 
  api:
    image: smabcisse11/fastapi_social_media_api
    depends_on:
        - postgres
    ports:
      - 80:8000
    env_file:
      - ./.env
    volumes:
        - ./:/usr/src/app:ro
    #command: uvicorn app.main:app --host 0.0.0.0 --port 8000 

  postgres:
    image: postgres
    env_file:
      - ./.env
    volumes:
      - postgres-db:/var/lib/postgresql/data
volumes:
    postgres-db:

