services:
  - type: web
    name: fastapi_social_media_api
    env: python
    plan: free
    buildCommand: "pip install -r requirements.txt"
    startCommand: "uvicorn app.main:app --host 0.0.0.0 --port $PORT"
    
    envVars:
      - key: ENVIRONMENT
        value: production
      - key: DATABASE_URL
        fromDatabase:
          name: postgres
          property: connectionString
    
    autoDeploy: true
    envBranchName: main

databases:
  - name: postgres
    databaseName: social_api_db  # Nome interno del DB
    user: postgres               # Username
    plan: free                   # Free tier

