name: Build and Deploy Code

on: [push, pull_request]

jobs:
  job1:
    runs-on: ubuntu-latest
    env:
      DATABASE_URL: "postgresql://postgres:Smab11Cisse@localhost:5432/fastapi_social_media_api"
      ACCESS_TOKEN_EXPIRE_MINUTES: "60"
      ALGORITHM: "HS256"    
      SECRET_KEY: "09d25e094faa6ca2556c818166b7a9563b93sasdgfvv436099f6f0f4c2432aa6cf63b88e8d3e7"
      POSTGRES_PASSWORD: "Smab11Cisse"
      POSTGRES_DB: "fastapi_social_media_api"
    steps:
      - name: pulling git repo
        uses: actions/checkout@v4
      - name: say hi
        run: echo "hello modou"
      - name: install python version 3.14
        uses: actions/setup-python@v5 
        with:
          python-version: "3.14"
      - name: update pip
        run: python -m pip install --upgrade pip
      - name: install dependencies
        run: pip install -r requirements.txt
      - name: test with pytest
        run: |
          pip install pytest
          pytest